* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100dvh;
    width: 100dvw;
}

/* classes pour fond des inputs mode couleur */

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

/* sert à fair la distinction entre le vert par defaut du mode couleur et le vert selectionné par le mode couleur*/
.greenDefaut {
    background-color: lightgreen;
}


/* général */

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
}

/* text */

#text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10dvh;
    align-items: center;
}



/* zone input */

#notation {
    height: 90dvh;
    width: 100dvw;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    max-height: 90dvh;
}

table {
    width: 95dvw;
    max-width: 95dvw;
    text-align: center;
    border: solid black 1px;
    font-size: 16px;
    font-weight: bold;
    max-height: 90%;

}

td {
    border: solid 1px black;
    padding: 5px 0;
    flex-grow: 1;
    max-width: 60px;
    width: 60px;
}

.note {
    padding: 10px;
    max-width: 50%;
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.toggleMode,
#resetAll,
.resetDevoir {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.delDevoir,
.delEleve {
    margin-right: 10px;
}

.edit {
    padding: 5px;
}